@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", serif;
}

h1 {
  color: rgb(30, 30, 30);
}

h2 {
  color: rgb(60, 60, 60)
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black
  }

a:hover {
  color: rgb(0, 0, 154);
  text-decoration: solid;
}

button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  border-radius: 500px;
}

button:hover {
  background-color: rgb(255, 208, 119);
  color: black
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    width: 300px;
  }
}

.card {
  width: 90vw;
  max-width: 800px;
  margin: 50px auto;
  background-color: white;
  border-radius: .5em;
  padding: 1em;
  box-shadow: 0px 10px 30px rgba(30, 30, 30, .5);
  text-align: center;
}

.card > ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
}

.card > ul > li {
  display: inline;
  list-style: none;
  font-size: 3em;
}

.profile-circle {
  border-radius: 50%;
  width: 10em;
  background-color: rgb(255, 208, 119);
}

.ig-color:hover {
  color: #C13584;
}

.gh-color:hover {
  color: #171515ad;
}

.mail-color:hover {
  color: rgb(60, 131, 255);
}
